@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    margin: 0;
    font-family: 'Orbitron';
    background-color: #000; /* Change background color to black */
    color: #fff; /* Change text color to white */
    margin-bottom: 100px;
    display: block;

    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Orbitron';
}

h4 {
  text-align: center;
  font-family: 'Orbitron';
  font-size: 10;
  color: red;
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
  width: 100%; /* Full width of the page */
  padding: 1px; /* Adjust padding as needed */
}

.button-section {
    background-color: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
    width: 100%; /* Take up the width of the page */
    padding: 5px; /* Add padding for better spacing */
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh; /* Adjust the height as needed */
}

.button-section button {
  align-content: center;
  align-self: center;
  color: white;
  padding: 2px;
  background-color: black;
  font-family: 'Orbitron';
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px; /* Add a bottom margin of 100 pixels */
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.video-item {
    width: 50%;
    padding: 10px;
}

.video-item video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
}

@media screen and (max-width: 1000px) {
    .video-container {
        height: auto;
    }

    .video-item {
        width: 100%; /* Set video items to take up full width on mobile */
    }
}
``
