body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Change background color to black */
    color: #fff; /* Change text color to white */
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px; /* Add a bottom margin of 100 pixels */
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.video-item {
    width: 50%;
    padding: 10px;
}

.video-item video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
}

@media screen and (max-width: 1000px) {
    .video-container {
        height: auto;
    }

    .video-item {
        width: 100%; /* Set video items to take up full width on mobile */
    }
}
``
